/* reveal overrides */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: inherit;
}

.reveal.page .slides section:not(.stack):before {
  background: none;
}

.reveal.page .slides section:not(.stack):after {
  box-shadow: none;
}

section.present pre {
  font-size: 0.85em;
}

.reveal section img.natural-image {
  border: 0;
  background: none;
  box-shadow: none;
}

.reveal section img.scale-width-65 {
  width: 65%;
}

.reveal pre code {
  max-height: 1000px;
}

hr {
  max-width: 60%;
}

/* octocat styling */
.reveal section img.octocat, .reveal section img.hn-logo {
  margin-bottom: -150px;
  border-width: 0px;
  background: transparent;
  max-width: 150px;
}
