/* reveal overrides */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: inherit;
}

.reveal.page .slides section:not(.stack):before {
  background: none;
}

.reveal.page .slides section:not(.stack):after {
  box-shadow: none;
}

section.present pre {
  font-size: 0.85em;
}

.reveal section img.natural-image {
  border: 0;
  background: none;
  box-shadow: none;
}

.reveal section img.scale-width-65 {
  width: 65%;
}

.reveal pre code {
  max-height: 1000px;
}

hr {
  max-width: 60%;
}

/* octocat styling */
.reveal section img.octocat, .reveal section img.hn-logo {
  margin-bottom: -150px;
  border-width: 0px;
  background: transparent;
  max-width: 150px;
}

/* Button */
button {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
button:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}
